* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Permanent Marker", cursive;

}

ul {
    height: 80px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    font-size: 20px;
} 

li:hover{
    color: #ffff;
    transition: all 200ms linear;
}

a:hover{
    color: #2a9d8f;
    font-size: 25px;
    transition: all 200ms linear;
    text-decoration: underline;
    
}

.menu{
    color: darkorchid;
    background-color: #0d1b2a;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    
}
    

#section01{
    background-color: #03071e;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    flex-wrap: wrap;
    height: auto;
    padding-top: 150px;
    padding-bottom: 80px ;
    padding-left: 20px ;
    padding-right: 20px;
}

#section02{
    background-color: #1b263b;
    height: 70vh;

}

#section03{
    color: #ffff;
    background: rgb(34,16,59);
    background: linear-gradient(90deg, rgba(34,16,59,1) 0%, rgba(54,4,57,1) 49%, rgba(13,0,79,1) 100%);
    height: 70vh;
    display: flex;
    gap: 2vw;
    padding-top: 150px;
    padding-bottom: 80px ;
    padding-left: 20px ;
    padding-right: 20px;
}

#section04{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    padding-top: 80px;
}

.section01-left-div{   
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 999px;
    transition: all 200ms linear;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px
    
}

.img-style-section01{
    width: 500px;
    height: auto;
    transition: all 200ms linear;
    filter: grayscale(100%);

}

.img-style-section01:hover{
    transform: scale(1.2);
    transition: all 200ms linear;
    cursor: crosshair;
    filter: grayscale(0);
}

.section01-right-div{
    width: 800px;
    height: 500px;
    flex-direction: column;
    align-items: left;
}

.section03-left-div{
    width: 800px;
    height: 500px;
    flex-direction: column;
    align-items: left;
}

.section03-left-div h2
{
    font-size: 40px;

}

.section03-left-div p
{
    margin-top: 40px;
    font-size:20px;

}

.section03-left-div button{
    color:#ffff ;
    background-color:rgb(111, 37, 147);;
    margin-top: 70px;
    padding: 20px;
    width: 400px;
    border-radius: 99px;
    font-size: 20px;
}
.section03-left-div button:hover{
    color: #2a9d8f;
    font-size: 25px;
    transition: all 200ms linear;
    text-decoration: underline;

}

.section-03-right-div{
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 999px;
    transition: all 200ms linear;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.img-style-section03{
    width: 700px;
    height: auto;
    transition: all 200ms linear;
}

.heading-contact{
    width: 100%;
    text-align: center;
}

.left-contact{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;


}

.right-contact{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;

}

a{
    text-decoration: none;
    color: inherit;
}

@media (width <=600px){
  .section01-left-div{
    width: 300px;
 }
    
  .img-style-section01{
    width: 300px;   
}

.l01{
    width: 100%;
    text-align: center;
   }
   
   .p01{
    width: 100%;
    text-align: center;
   }

ul{
    gap: 2vw;
    font-size: 16px;
}

}


